@model List<Friendface.Core.Domain.Friendship>
@{
    Layout = "_Layout";
}

<div class="container">

    <table class="table" style="width:100%">
        <thead>
            <tr>
                <th>UserA</th>
                <th>UserB</th>
                <th>Friends since</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var friendship in Model)
                {
                    <tr>
                        <td>@friendship.UserA</td>
                        <td>@friendship.UserB</td>
                        <td>@friendship.Added.ToString("yyyy-MM-dd")</td>
                    </tr>
                }

            </tbody>
    </table>
</div>