@model List<Friendface.Core.Domain.User>

@{
    Layout = "_Layout";
}

<div class="container">
    <h3>Users</h3>

    <table class="table" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birthday</th>
                <th>Gender</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Birthday.ToString("yyyy-MM-dd")</td>
                    <td>@user.Gender</td>
                    <td><a href="@Url.Action("Details", new { userId = user.Id })">View profile</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

