textarea {
    width: 300px;
    height: 150px;
}

.orange {
    background-color: #ef5350;
    color: white;
}

.light-orange {
    background-color: #f27572;
    color: white;
}

.orange-text {
    color: #ef5350;
}
.big-text {
    font-size: 2rem;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

nav .navbar-nav li a {
    color: white !important;
}
.anyClass {
    width: 300px;
    height: 300px;
    overflow-y: scroll;
    list-style-type: none;
    padding-left: 10px;
}

.bottom-row {
    width: 300px;
    position: fixed;
    bottom: 10px;
}

.post-box {
    margin-bottom: 10px;
    margin-top: 10px;
}

.post-text {
    padding-left: 10px;
}

.post-title {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
.small-text {
    font-size: 10px;
}

.message-button {
    padding-left: 110px;
    padding-right: 110px;
}

.comments {
    width: 520px;
    height: 300px;
    overflow-y: scroll;
    padding-left: 10px;
}